<div class="container clearfix" ng-controller="GetCategoriesController" id="main-container">
    <div class="container">
        <div class="row">
            <div class="col-md-6 big-text">
                <strong>All Categories</strong>
            </div>
        </div>
        <div class="row" >
            <div class="col-md-8 text-left jumbotron">
                <ul class="list-group">

                    <li class="list-group-item" ng-repeat="category in categories">
                        <div ng-controller="GetProductsByCategoryId">
                            <a ng-click="getProductsBy(category.Id); showMoreInfo(click);" ng-model="click">{{category.Name}}</a>
                            <ul class="list-group" > 
                                <li class="list-group-item" ng-repeat="product in products" ng-hide="hide">
                                    <span>Name: </span>
                                    <p>{{product.Name}}</p>
                                    <span>Price: </span>
                                    <strong>{{product.Price}}</strong>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
