<div class="container clearfix" ng-controller="GetProductsByCategoryId" id="main-container">
    <div class="container">
        <div class="row">
            <div class="col-md-6 big-text">
                <strong>Products</strong>
            </div>
            <div class="col-md-6">
                <a href="#/all-artists" class="btn btn-default pull-right">See all</a>
            </div>
        </div>
        <div>
            {{tralala}}
        </div>
        <div class="row">
            <div class="col-md-4 text-left jumbotron">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="product in products">
                        <a>{{product.Category}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
